<html>

<head>
    <title>NAVBAR</title>
    <link rel="stylesheet" href="nav.css">
</head>

<body>
    <div class="header">

        <div class="logo">
            <div class="lg">
                <img src="/images/unlogo.png" alt="" >
            </div>

            <div class="name">
         <h2>Course</h2>
            </div>
        </div>
        <div class="dropdown">
            <label>Course Master</label>
        <ul>
          <li><a href="/newcourse">New</a></li>
          <li><a href="/viewcourse">View</a></li>
        </ul>
        </div>
        
        <div class="dropdown">
            <label>Student Master</label>
        <ul>
          <li><a href="/newstudent">New</a></li>
          <li><a href="/viewstudent">View</a></li>
        </ul>
        </div>

        <div class="dropdown">
            <label>Reports Master</label>
        <ul>
          <li><a href="/coursereport">Course Wise Student</a></li>
          <li><a href="/studentreport">Student count</a></li>
        </ul>
        </div>
   
    </div>